@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Consolas, 'Courier New', Monaco, Menlo, monospace;
  color: #00ff41;
  background-color: #000000;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000000;
  color: #00ff41;
}

.cursor-block {
  display: inline-block;
  width: 10px;
  height: 1em;
  background: #00ff41;
  animation: blink 1s steps(1, end) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
